extends layout

block content
  //- Main Content
  main.main-container

    //- Sidebar
    aside.sidebar
      h2 Categories
      ul
        li
          a(href="/games/category/Action") Action
        li
          a(href="/games/category/Adventure") Adventure
        li
          a(href="/games/category/RPG") RPG
        li
          a(href="/games/category/Horror") Horror
        li
          a(href="/games/category/Multiplayer") Multiplayer
        li
          a(href="/games/category/Indie") Indie

    //- Main Area
    section#homepage
      .search-container
        input#searchBar(type="text", placeholder="Search for a game...")

      h2 All Games

      .game-grid#gameGrid
        each game in games
          .game
            h3= game.title
            img(src=game.image, alt=game.title)
            p Category: #{game.category}
            p Price: $#{game.price}

            a(href=`/games/${game.game_id}`) View Details

            form(method="POST", action=`/cart/add/${game.game_id}`)
              input(type="hidden", name="quantity", value="1")
              button(type="submit") Add to Cart
